<header class="main-header">
    <nav class="main-header_nav">
        <ul class="main-header_list">
            <li class="main_header_list-item"><a href="./" title="create username">User Form</a></li>
            <li class="main_header_list-item"><a href="./users" title="show username">Users List</a></li>
        </ul>
    </nav>
</header>